#tomato{
	height: 700px;
	width: 600px;
}
#frontheader {
	
	margin-left: 40px;
	margin-top: 15px;
	text-align: left;
	font-size: 60px;
	color: red;
	font-weight: bolder;
	text-shadow: 8px 8px 10px #6d6363;
	font-family: 'Caveat','Cherry Swash', cursive;
}
