#tomato{
	height: 700px;
	width: 600px;
}
#frontheader{
	
	margin-left: 40px;
	margin-top: 15px;
	text-align: left;
	font-size: 60px;
	color: red;
	font-weight: bolder;
	text-shadow: 8px 8px 10px #6d6363;
	font-family: 'Caveat','Cherry Swash', cursive;
}


.custom {
			background-color: #34495E;
		}
		.custom ul >li > a {
  			color: white;
 			 height: 40px;
  			font-size: 15px;
  			text-transform: uppercase;
 		 	text-align: center;
 		 	font-weight: bold;
  			z-index: 1;
  			line-height: 25px;
  			
  
	}
	
	.custom button{
    margin: 0 auto;
}
.l1{
	min-width: 100px;
}
.l2{
	min-width: 125px;
}
.l3{
	min-width: 120px;
}
.l4{
	min-width: 140px;
}
.l5{
	min-width: 120px;
}
.l6{
	min-width: 150px;
}
.a1:hover {
    
	background-color: #1abc9c ;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a2:hover {
    
	background-color: #e74c3c ;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a3:hover {
    
	background-color: #28A745;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a4:hover {
    
	background-color: #9b59b6 ;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a5:hover {
    
	background-color: #e67e22;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a6:hover {
    
	background-color: #3498db  ;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.active{
	 
	border-bottom: 2px solid white;
	font-size: 19px !important;
	
}
.custombutton{
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-radius: 10px;
}
.custombutton:hover{
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	border-radius: 10px;
}
